@charset "UTF-8";
:root {
  --title-width: 150px;
}
/* RESET */
/* ----------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}


/* LAYOUT */
/* ----------------------------------------- */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #eee;
  background-repeat: repeat;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited, a:active {
  color: blue;
  text-decoration: underline;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
  width: 828px;
  margin: 50px auto;
  padding: 10px;
  padding-right: 20px;
  border: 1px solid #777;
  border-radius: 10px;
}

.paper-top {
  margin: 0px 15px;
}

.paper-top:after {
  display: table;
  content: "";
  clear: both;
}

.paper-top .social {
  float: right;
}

.paper-top .social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paper-top .social ul li {
  margin: 0;
  padding: 0;
  margin-left: 6px;
}

.paper-top .social ul li.version {
  font-size: 18px;
}

.paper-top .social ul li a {
  display: block;
}

.paper-top .social ul li img {
  width: 24px;
  height: 24px;
}

#paper-mid {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.paper-bottom {
  display: none;
}

/* ENTRIES */
/* ----------------------------------------- */
.entry.self {
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
}
.self .description {
  padding-right: 20px;
  margin-left: 40px;
  width: 600px;
}

.self h1 {
  font-size: 36px;
  line-height: 36px;
  color: #1b4491;
}

.self h1 span {
  font-size: 18px;
  display: block;
  color: #1b4491;
}

.self img.portrait {
  width: 180px;
  height: 240px;
}
.self .description ul {
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.self .description ul li span{
  width: 250px;
  display: inline-block;
  text-transform: uppercase;
  text-align: right;
}

.self .description ul li span::after {
  content: ":";
  margin-right: 20px;
}

/* ENTRIES */
/* ----------------------------------------- */
.entry {
  display: block;
  margin: 15px 0px;
}

.entry::after {
  display: block;
  clear: both;
  content: '';
}

.category {
  width: var(--title-width);
  text-align: right;
  font-size: 22px;
  line-height: 26px;
  color: #1b4491;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}
.item:last-child {
  padding-bottom: 0px;
}

.item .title {
  font-size: 13px;
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--title-width);
  text-align: right;
  padding: 0;
  color: #7b90b5;
}

.item .description {
  flex-grow: 1;
  margin-left: 30px;
}

.introduce {
  text-indent: 1.5rem;
}
.introduce p:nth-child(2) {
  margin-top: 5px;
}

.summary {
  text-indent: 1.5rem;
}
.summary p:nth-child(2) {
  margin-top: 5px;
}

.description em {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color:#777777;
  font-size: 12px;
  line-height: 16px;
  display: block;
  padding-bottom: 3px;
}

.description ul {
  list-style: disc outside;
  margin-left: 16px;
}

.description ul li {
  background-repeat: no-repeat;
}

.description ul.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description ul.skills li.three-column {
  width: 30%;
}

.description ul.skills li.two-column {
  width: 45%;
}

ol {
  float:right;
  width:500px;
  margin-left:40px;
  list-style: decimal;
}

ol li {
  width:500px;
  list-style-type: decimal;
  list-style-position: inside;
}

ul.works {
  margin:0;
  padding:0;
  width:500px;
  margin-left:40px;
  list-style-type: none;
}

ul.works li {
  margin:0;
  padding:0;
  float:left;
}

ul.works li img {
  padding:4px;
  background-color:#fff;
  width:95px;
  height:95px;
  border:1px solid #bdc7da;
  margin-right:20px;
  margin-bottom:16px;
}

ul.works li img:hover {
  border:1px solid #1b4491;
  cursor: pointer;
}