body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: white;
  font-size:13pt;
  line-height: 17pt;
}

.resume .action-entries {
  display: none;
}

.resume a {
  color: black;
  font-weight: normal;
}
