body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: white;
  font-size:13pt;
  line-height: 17pt;
}

a, a:hover, a:visited, a:active {
  color: #7b90b5;
  text-decoration: none;
}

#resume .icon-list {
  display: none;
}
