body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: white;
  font-size:13pt;
  line-height: 17pt;
}

a, a:hover, a:visited, a:active {
  color:#7b90b5;
  text-decoration: none;
}

#wrapper, .wrapper-mid {
  background: none;
}

.wrapper-top, .wrapper-bottom  {
  display:none;
}

#paper {
  width:850px;
  margin:0 auto;
}

.paper-top, .paper-bottom {
  display:none;
}

#paper-mid {
  width:820px;
  margin:0 auto;
  background-color:#FFF;
  display:block;
  padding:0;
  overflow: hidden;
  padding-bottom:75px;
  padding-top:7px;
}

.entry {
  width: 100%;
  display: block;
  padding-top: 32px;
}

.entry::after {
  display: block;
  clear: both;
  content: '';
}

.entry h1 {
  font-size: 36pt;
  line-height: 36pt;
  color: #1b4491;
}

.entry h1 span {
  font-size: 18pt;
  display: block;
  color: #1b4491;
}

.self img.portrait {
  width: 180px;
  height: 240px;
  margin-left: 4px;
}

.self .description ul {
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.self .description ul li span{
  width: 150px;
  display: inline-block;
  text-transform: uppercase;
  text-align: right;
}

.self .description ul li span::after {
  content: ":";
  margin-right: 20px;
}

h2.category {
  width: 160px;
  height: 23px;
  text-align: right;
  font-size:22pt;
  color: #1b4491;
  margin-bottom: -12px;
}

div.content {
  display: flex;
  flex-direction: column;
}

div.item {
  display: flex;
  flex-direction: row;
  padding:0;
  margin:0;
  overflow: hidden;
  padding-top:24px;
}

.item h3.title {
  width: 160px;
  text-align: right;
  padding: 0;
  font-size: 13pt;
  color: black;
}

.item .description {
  margin-left: 40px;
  width: 620px;
}

.description em {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color:#999;
  font-size:12pt;
  display: block;
  padding-top:0;
}

.description ul.list {
  list-style: dotted outside;
}

.description ul.list li {
  background-repeat: no-repeat;
  margin-left: 15px;
}

.description ul.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description ul.skills li.three-column {
  width: 30%;
}

.description ul.skills li.two-column {
  width: 45%;
}

/* ELEMENTS */
/* ----------------------------------------- */

table {
  width: 590px;
  margin-left:40px;
  float:right;
  border-collapse: collapse;
  border-bottom:1px dashed #999;
  border-top:1px dashed #999;
}

table td {
  padding: 10px;
  padding-top:0;
  border-right:1px dashed #999;
}

table td:hover {
  background-color: #f2f2f2;
}

table th {
  padding: 10px;
  padding-top:0;
  color:#7b90b5;
  text-align: left;
  border-right:1px dashed #999;
}

table td.center {
  text-align: center;
}

table td.last {
  background: none;
}

table th.center {
  text-align: center;
}

table th.last {
  background: none;
}

table tr {
  border-left:1px dashed #999;
  border-top:1px dashed #999;
}

table tr.caption {
  border-left:1px dashed #999;
}

blockquote {
  border-left:3px solid #7b90b5;
  padding-left:8px;
  margin-top:20px;
  width:585px;
  margin-left:40px;
  float:right;
}

pre {
  width:500px;
  margin-left:40px;
  float:right;
}

abbr, acronym {
  border-bottom:1px dashed #7b90b5;
}

strong {
  font-weight: bold;
}

small {
  font-size:70%;
}

big {
  font-size:1.2em;
}

/* GO TO TOP */
/* ----------------------------------------- */

#message {
  display:none;
}

.works {
  display:none;
}