@charset "UTF-8";

.hidden {
  display: none !important;
}

p {
  margin-bottom: 5px;
  text-indent: 14px;
}

ul {
  list-style: disc outside;
  margin-left: 16px;

  li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
  }
}

@left-part-width: 110px;
@left-part-padding-right: 20px;
@right-part-width: calc(100% - @left-part-width);

.resume {
  width: 880px;
  margin: 20px auto;
  padding: 10px 24px 10px 0px;
  background: rgba(136, 136, 136, 0.08);
  font-size: 14px;
  line-height: 18px;

  & > .action-entries {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .layout {
    display: flex;
    margin-bottom: 10px;

    &.from-right {
      flex-direction: row-reverse;
    }
    &.no-margin {
      margin: 0px;
    }

    & > .left {
      width: @left-part-width;
      padding-right: @left-part-padding-right;
      box-sizing: border-box;
      text-align: right;
    }

    & > .right {
      flex: 1;
      max-width: @right-part-width;
    }
  }

  h1 {
    font-size: 16px;
    line-height: 24px;
    color: #1b4491;
  }

  h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  h3 {
    font-weight: 500;
  }

  & > .first-glance {
    text-align: center;
    margin-bottom: 30px;

    .name {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 4px;
    }

    .role {
      color: #1b4491;
      font-size: 14px;
      line-height: 16px;
    }
  }

  & > .general-info {
    position: relative;

    .info-list {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 20px;

      .key {
        display: inline-block;
        text-align: right;
        width: 125px;
        color: black;
        margin-right: 2px;
      }
    }

    img.portrait {
      width: 150px;
      height: 200px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .work-experience,
  .education {
    .interval {
      display: inline-block;
      padding-top: 8px;
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      color: #7b90b5;
    }

    .sub-title {
      font-family: Georgia, 'Times New Roman', serif;
      font-style: italic;
      // color: #777777;
      font-size: 14px;
      line-height: 20px;
      display: block;
      padding-bottom: 3px;
      margin-bottom: 5px;
    }
  }

  &.english {
    & > .basic-info {
      & > .form-item {
        .form-item-label {
          width: 60px;
        }
      }

      .my-info {
        padding-left: 0px;

        & > .form-item {
          .form-item-label {
            width: 150px;
            padding-right: 10px;
          }
        }
      }
    }

    & > .self-introduce,
    & > .technologies,
    & > .projects {
      .form-item {
        .form-item-label {
          width: 36px;
        }
      }
    }

    & > .work-experience,
    & > .education {
      .form-item {
        .form-item-label {
          width: 120px;
          margin-right: 16px;
        }
      }
    }
  }
}
