@charset "UTF-8";

.hidden {
  display: none !important;
}

p {
  margin-bottom: 5px;
  text-indent: 14px;
}

ul {
  list-style: disc outside;
  margin-left: 16px;
  li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
  }
}

.resume {
  width: 860px;
  margin: 20px auto;
  padding: 10px 24px 10px 0px;
  background: rgba(136, 136, 136, 0.08);
  font-size: 14px;
  line-height: 18px;
  & > .action-entries {
    height: 20px;
    display: flex;
    gap: 6px;
    flex-direction: row;
    justify-content: flex-end;
  }
  & > .first-glance {
    text-align: center;
    margin-bottom: 30px;
    .name {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 4px;
    }
    .position {
      color: #1b4491;
      font-size: 14px;
      line-height: 16px;
    }
  }
  & > .basic-info {
    position: relative;
    .my-info {
      padding-left: 30px;
      & > .form-item {
        margin-bottom: 0px;
        line-height: 20px;
        .form-item-label {
          display: inline-block;
          width: 100px;
          font-size: 14px;
          line-height: 18px;
          color: black;
          margin-right: 2px;
        }
      }
    }
    img.portrait {
      width: 150px;
      height: 200px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .form-item {
    display: flex;
    margin-bottom: 10px;
    // &.no-margin {
    //   margin-bottom: 2px;
    // }
    .form-item-label {
      width: 100px;
      text-align: right;
      font-size: 16px;
      line-height: 24px;
      color: #1b4491;
      margin-right: 24px;
      &.small-label {
        font-size: 13px;
        padding-top: 3px;
        line-height: 16px;
        color: #7b90b5;
      }
      &.full-line {
        width: 100% !important;
        text-align: left !important;
        padding-left: 20px !important;
      }
    }
    .form-item-content {
      flex: 1;
      // TODO: will remove
    }
  }
  &.english {
    & > .basic-info {
      & > .form-item {
        .form-item-label {
          width: 60px;
        }
      }
      .my-info {
        padding-left: 0px;
        & > .form-item {
          .form-item-label {
            width: 150px;
            padding-right: 10px;
          }
        }
      }
    }
    & > .self-introduce, & > .technologies, & > .projects {
      .form-item {
        .form-item-label {
          width: 36px;
        }
      }
    }
    & > .work-experience, & > .education {
      .form-item {
        .form-item-label {
          width: 120px;
          margin-right: 16px;
        }
      }
    }
  }
  .work-experience {
    margin-top: 15px;
    .company {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }
    .position {
      font-family: Georgia, "Times New Roman", serif;
      font-style: italic;
      // color: #777777;
      font-size: 14px;
      line-height: 20px;
      display: block;
      padding-bottom: 3px;
      margin-bottom: 5px;
    }
  }
  .education {
    margin-bottom: 15px;
    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }
    .sub-title {
      font-family: Georgia, "Times New Roman", serif;
      font-style: italic;
      // color: #777777;
      font-size: 14px;
      line-height: 20px;
      display: block;
      padding-bottom: 3px;
      margin-bottom: 5px;
    }
  }
}
