@charset "UTF-8";
.hidden {
  display: none !important;
}
p {
  margin-bottom: 5px;
  text-indent: 14px;
}
ul {
  list-style: disc outside;
  margin-left: 16px;
}
ul li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
}
.resume {
  width: 860px;
  margin: 20px auto;
  padding: 10px 24px 10px 0px;
  background: rgba(136, 136, 136, 0.08);
  font-size: 14px;
  line-height: 18px;
}
.resume > .action-entries {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.resume .layout {
  display: flex;
  margin-bottom: 10px;
}
.resume .layout.from-right {
  flex-direction: row-reverse;
}
.resume .layout.no-margin {
  margin: 0px;
}
.resume .layout > .left {
  width: 124px;
  padding-right: 24px;
  box-sizing: border-box;
  text-align: right;
}
.resume .layout > .right {
  flex: 1;
  max-width: calc(100% - 124px);
}
.resume h1 {
  font-size: 16px;
  line-height: 24px;
  color: #1b4491;
}
.resume h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.resume h3 {
  font-weight: 500;
}
.resume > .first-glance {
  text-align: center;
  margin-bottom: 30px;
}
.resume > .first-glance .name {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 4px;
}
.resume > .first-glance .role {
  color: #1b4491;
  font-size: 14px;
  line-height: 16px;
}
.resume > .general-info {
  position: relative;
}
.resume > .general-info .info-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}
.resume > .general-info .info-list .key {
  display: inline-block;
  text-align: right;
  width: 125px;
  color: black;
  margin-right: 2px;
}
.resume > .general-info img.portrait {
  width: 150px;
  height: 200px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.resume .work-experience .interval,
.resume .education .interval {
  display: inline-block;
  padding-top: 8px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #7b90b5;
}
.resume .work-experience .sub-title,
.resume .education .sub-title {
  font-family: Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.resume.english > .basic-info > .form-item .form-item-label {
  width: 60px;
}
.resume.english > .basic-info .my-info {
  padding-left: 0px;
}
.resume.english > .basic-info .my-info > .form-item .form-item-label {
  width: 150px;
  padding-right: 10px;
}
.resume.english > .self-introduce .form-item .form-item-label,
.resume.english > .technologies .form-item .form-item-label,
.resume.english > .projects .form-item .form-item-label {
  width: 36px;
}
.resume.english > .work-experience .form-item .form-item-label,
.resume.english > .education .form-item .form-item-label {
  width: 120px;
  margin-right: 16px;
}
